/**

# ----------------------------------------------------------------
# ROOT
# ----------------------------------------------------------------

!/README.md
!/LICENCE
!/justfile
!/Cargo.toml
!/.behaverc

# ----------------------------------------------------------------
# PROJECT
# ----------------------------------------------------------------

!/templates
!/templates/template*

!/docs
!/docs/**/
!/docs/**/*.md

!/models
!/models/*.yaml

!/src
!/src/**/
!/src/**/*.rs

!/tests
!/tests/**/
!/tests/**/*.rs

!/dist
!/dist/VERSION

# ----------------------------------------------------------------
# FORCE REMOVE
# ----------------------------------------------------------------

**/.session
**/logs
**/.vscode
**/*.tmp
**/.DS_Store
**/__archive__*
**/__pycache__*
/build

# ----------------------------------------------------------------
# FORCE RETAIN
# ----------------------------------------------------------------

!**/.gitkeep
